.location-container {
  padding: 96px 0 32px;
  &-title {
    border-left: 8px solid #9f1213;
    margin-bottom: 32px;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 16px;
  }
}
.location-select-menu {
  width: 416px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  p {
    font-size: 24px;
  }
  select {
    background-color: $white-color;
    width: 304px;
    border: 1px solid #ced4da;
  }
}

@include phone {
  .location-select-menu {
    width: 348px;
    margin-bottom: 24px;
    p {
      font-size: 16px;
    }
    location {
      max-width: 276px;
    }
  }
}
